@using Lab3_CSharp.Models
@model Lab3_CSharp.Models.Country
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Страны";
    Layout = "../_BaseLayout.cshtml";
}

@if (ViewBag.countryList.Count == 0)
{
    <div>Данных о странах нет</div>
}
else
{
    <ol>
        @foreach (Country country in ViewBag.countryList)
        {
            <li>
                <a asp-action="GetCountryAbout" asp-route-id="@country.Id" 
                   asp-route-countryName="@country.CountryName">@country.CountryName</a>
                <form style="display: inline-block" method="post" asp-action="Delete" asp-route-countryId="@country.Id">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        }
    </ol>
}
<br>
<h2>Добавить страну</h2>
<form method="post" asp-action="Create">
    <label>
        Название страны: 
        <input type="text" placeholder="Название страны" asp-for="CountryName"/>
    </label>
    <button type="submit">Создать</button>
</form>